@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}
li {
  list-style: none;
  cursor: pointer;
  position: relative;
}
li:hover::before {
  position: absolute;
  content: '';
  height: 4px;
  width: 100%;
  background: #2a69ff;
  right: 0;
  color: #2a69ff;
}

.icon {
  cursor: pointer;
}